/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Phone Number Display */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#my-number-section {
    margin: 100px 0px;
}
#my-number-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
#my-number {
    font-family: "Helvetica Neue";
    font-size: 110px;
    line-height: 110px;
    font-weight: 100;
}
#my-number-permalink,
#my-number-permalink a {
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #777;
}
#my-number-permalink a {
    color: #428bca;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Video Display */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#video-display {
    display: inline-block;
    width: 100%;
    height: 340px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 20px 0px;
    text-align: center;
    color: #eee;
    font-size: 150px;
    line-height: 340px;
}
#video-display video {
    height: 300px;
    margin: 20px 0 0 0;
}
